Xft.dpi:	192

Xcursor.theme:	Bibata-Modern-Ice
Xcursor.size:	44

#define black_1   #15161e
#define red_1     #f7768e
#define green_1   #9ece6a
#define yellow_1  #e0af68
#define blue_1    #7aa2f7
#define magenta_1 #bb9af7
#define cyan_1    #7dcfff
#define white_1   #a9b1d6
#define black_2   #414868
#define red_2     #f7768e
#define green_2   #9ece6a
#define yellow_2  #e0af68
#define blue_2    #7aa2f7
#define magenta_2 #bb9af7
#define cyan_2    #7dcfff
#define white_2   #c0caf5


*.foreground:	white_1
*.background:	black_1
*.cursorColor:	cyan_1

*.color0:		black_1
*.color1:		red_1
*.color2:		green_1
*.color3:		yellow_1
*.color4:		blue_1
*.color5:		magenta_1
*.color6:		cyan_1
*.color7:		white_1

*.color8:		black_2
*.color9:		red_2
*.color10:		green_2
*.color11:		yellow_2
*.color12:		blue_2
*.color13:		magenta_2
*.color14:		cyan_2
*.color15:		white_2


dwm.normfgcolor:			white_1
dwm.normbgcolor:			black_1
dwm.normbordercolor:		black_2
dwm.normfloatcolor:			black_2

dwm.selfgcolor:				white_2
dwm.selbgcolor:				black_1
dwm.selbordercolor:			blue_1
dwm.selfloatcolor:			green_1

dwm.scratchnormbordercolor:	black_2
dwm.scratchnormfloatcolor:	black_2
dwm.scratchselbordercolor:	cyan_1
dwm.scratchselfloatcolor:	cyan_1

dwm.stickybordercolor:		yellow_1
dwm.stickyfloatcolor:		yellow_1

dwm.tagsemptyfgcolor:		black_2
dwm.tagsemptybgcolor:		black_1
dwm.tagsoccfgcolor:			green_1
dwm.tagsoccbgcolor:			black_1
dwm.tagsselfgcolor:			white_2
dwm.tagsselbgcolor:			black_1

dwm.ltsymbolfgcolor:		yellow_1
dwm.ltsymbolbgcolor:		black_1
