/* Copyright (C) 2020-2025 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #181818;
    background-alt: #262A32;
	border:			#96a6c8;
    foreground:     #e4e4e4;
    selected:       #800080;
    active:         #008000;
    urgent:         #e06c75;
}
